<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mobileservices.joemobilejs" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>joemobilejs</name>
    <description>
        joemobilejs
    </description>
    <author email="mobileservices@microsoft.com" href="http://www.windowsazure.com/en-us/develop/mobile/">
        Windows Azure Mobile Services
    </author>
    
    <access origin="https://joemobilejs.azure-mobile.net/" /> 
    <content src="index.html" />
</widget>
